Source: lxadmin
Section: admin
Priority: extra
Maintainer: Julien Lavergne <gilir@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~),
               autotools-dev,
               libgtk2.0-dev (>= 2.16),
               python-support (>= 0.6.0),
               intltool
Standards-Version: 3.8.4
Homepage: http://launchpad.net/lxadmin
Vcs-Git: git://git.debian.org/git/collab-maint/lxadmin.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/lxadmin.git;a=summary

Package: lxadmin
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Description: common files for lxadmin utilities
 lxadmin are common files for lxadmin utilities.

Package: lxdmconf
Architecture: any
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
Description: utility to change lxdm options
 lxdmconf is an utility to change login options in LXDE when using LXDM.
 
Package: lxproxy
Architecture: any
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Description: utility to change proxy options
 lxproxy is an utility to change proxy options in LXDE.

Package: lxcc
Architecture: any
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Recommends: lxdmconf,
            obconf,
            libfm-gtk0,
            openbox-keyconf,
            lxkeyboardconf,
            lxinput,
            pcmanfm (>= 0.9),
            xscreensaver,
            lxappearance,
            lxfontconfig,
            lxpanel,
            lxsession-edit,
            lxrandr
Description: utility to start various configuration tools
 lxcc is control center to change various options on a LXDE desktop.
