Source: lxadmin
Section: admin
Priority: extra
Maintainer: Julien Lavergne <gilir@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~),
               autotools-dev,
               libgtk2.0-dev (>= 2.16),
               python-support (>= 0.6.0),
               intltool,
               gnome-common
Standards-Version: 3.8.4
Homepage: http://launchpad.net/lxadmin
Vcs-Git: git://git.debian.org/git/collab-maint/lxadmin.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/lxadmin.git;a=summary

Package: lxadmin-common
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Description: common files for lxadmin utilities
 lxadmin are common files for lxadmin utilities.

Package: lxdmconf
Architecture: all
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
Description: utility to change lxdm options
 lxdmconf is an utility to change login options in LXDE when using LXDM.
 
Package: lxproxy
Architecture: all
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Description: utility to change proxy options
 lxproxy is an utility to change proxy options in LXDE.

Package: lxfontconfig
Architecture: all
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Description: utility to change font options
 lxfontconfig is an utility to change font options in LXDE.

Package: lxkeyboardconf
Architecture: all
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         lxpanel
Description: utility to change keyboard layout
 lxkeyboardconf is an utility to change keyboard layout in LXDE.

Package: lxscreenshot
Architecture: all
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Description: utility to take screenshot
 lxscreenshot is an utility to take screenshot in LXDE.

Package: lxservices
Architecture: all
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Description: utility to manage services
 lxservices is an utility to manage services in LXDE.

Package: openbox-keyconf
Architecture: all
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Description: utility to change openbox keyboard configuration
 openbox-keyconf is an utility change openbox keyboard configuration in LXDE.

Package: lxcc
Architecture: all
Depends: lxadmin (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends}
Recommends: lxdmconf,
            obconf,
            libfm-gtk0,
            openbox-keyconf,
            lxkeyboardconf,
            lxinput,
            pcmanfm (>= 0.9),
            xscreensaver,
            lxappearance,
            lxfontconfig,
            lxpanel,
            lxsession-edit,
            lxrandr
Description: utility to start various configuration tools
 lxcc is control center to change various options on a LXDE desktop.
